<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

	<h2>タスク変更</h2>

	<form action="/tasks/update" method="post">

		<table class="">

			<tr class="">
				<th class="">カテゴリー</th>
				<td class="">

					<label th:each="category : ${categories}">
						<!--# ?.はnullセーフ演算子なのでnullでもエラーにならない #-->
						<input type="radio" name="categoryId" th:value="${category.id}"
							th:checked="${category.id == task.category?.id}" />
						<span th:text="${category.name}"></span>
					</label>

				</td>
			</tr>
			<tr class="">
				<th class="">タイトル</th>
				<td class="">
					<input type="text" name="title" th:value="${task.title}" class="" />
				</td>
			</tr>
			<tr class="">
				<th class="">期限</th>
				<td class="">
					<input type="date" name="closingDate" th:value="${task.closingDate}" required />
				</td>
			</tr>
			<tr class="">
				<th class="">進行状況</th>
				<td class="">
					<label>未着手
						<input type="radio" name="progress" value="0" th:checked="${task.progress == 0}" class="" />
					</label>

					<label>進行中
						<input type="radio" name="progress" value="1" th:checked="${task.progress == 1}" class="" />
					</label>

					<label>完了
						<input type="radio" name="progress" value="2" th:checked="${task.progress == 2}" class="" />
					</label>
				</td>
			</tr>

			<tr class="">
				<th class="">メモ</th>
				<td class="">
					<textarea name="memo" th:text="${task.memo}"></textarea>
				</td>
			</tr>

		</table>

		<input type="hidden" name="taskId" th:value="${task.id}" />
		<button>変更</button>
	</form>

</body>

</html>